/*START*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif;
}
input, textarea {
    font-family: 'Source Sans Pro', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END*/

body {
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    width: fit-content;
}

p {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav-ul>li {
    display: inline-block;
}

.nav-right>li:not(:last-child)::after {
    content: ' |';    
}

.container {
    padding: 10px;

}

a { 
    text-decoration: none;
}

.table-container {
    width: fit-content;
    margin: 0 auto;
    p {
        padding-top: 15px;
    }
    a {
        text-decoration: underline;
    }
}

.blog-container-preview {
    margin: 10px 0;
}

.small-print {
    font-size: 0.9em;
}

.form-login {
    background-color: aliceblue;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    border: solid lightgray 1px;
    margin: 0 auto;
    min-width: 250px;
    table {
        width: 100%;
    }
    input { 
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 15px;
    }

    tbody>tr {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 250px) {
        width: 100%;
        min-width: unset;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.create-blog-container {
    max-width: 720px;
    margin: 0 auto;
}

.blog-title {
    padding: 5px;
}

.blog-form-container {
    display: grid;
    grid-template-columns: 120px auto;

    .form-side-panel {
        display: flex;
        flex-direction: column;
        grid-column: 1;

        h2 {
            margin: 0 5px 5px 5px;
        }

        button {
            margin: 5px;
        }
    }

    .blog-form {
        .form-body {
            padding: 5px;
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            grid-gap: 16px;
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;

            label {
                grid-column: 1;
            }
            
            input,
            button {
                grid-column: 2;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            div {
                width: 100%;
                grid-column: span 2;
                display: flex;
                flex-direction: column;

                textarea {
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    width: 100%;
                    resize: vertical;
                    height: 100px;
                }
            }

            .component {
                box-sizing: border-box;
                padding: 3px;
                border: solid 1px lightgray;
                border-radius: 3px;
                margin: 5px 0;

                .form-controls {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding: 5px;
                    box-sizing: border-box;

                    p {
                        width: 100%;
                        margin: auto 0;
                        align-self: flex-end;
                    }

                    .button {
                        align-self: flex-end;
                        cursor: pointer;
                        height: 32px;
                        width: 32px;
                        text-align: center;
                        border: solid 1px lightgray;

                        span {
                            margin: auto;
                        }

                        &:hover {
                            background-color: darkgray;
                        }
                    }

                    .remove {

                        &:hover {
                            background-color: red;
                        }
                    }
                }

                .component-body {
                    padding: 5px;
                    box-sizing: border-box;
                    textarea {
                        min-height: 100px;
                    }
                    img {
                        max-width: 240px;
                        max-height: 240px;
                        /*Done in JS. Search for 'imageElement.style'. Sorry xxx */
                    }
                }
            }
        }
    }
}

.blog-container {
    max-width: 680px;
    margin: 0 auto;
    .blog-header-container {
        margin-top: 25px;
    }

    .blog-author-container {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 800px) {
            flex-direction: column;
            justify-content: flex-start;
            .share-container {
                margin-top: 5px;
            }
        }
    }

    .blog-body-container {
        margin-top: 30px;
    }

    .blog-tags-container {
        margin-top: 25px;
    }

    @media (max-width: 800px) {
        padding: 0 10px;
    }
}

.share-container {
    position: relative;
    width: fit-content;

    button {
        border:none;
        background-color: transparent;
        cursor: pointer;
        height: 16px;
        width: 16px;

        #share-light {
            display: block;
        }

        #share-dark {
            display: none;
        }
        
        &:hover {
            #share-light {
                display: none;
            }
    
            #share-dark {
                display: block;
            }
        }
    }

    .share-dropdown { 
        background-color: white;
        margin-top: 5px;
        padding: 5px;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;


        div {
            cursor: pointer;
            display: grid;
            padding: 5px;
            grid-auto-columns: minmax(30px, auto);
            margin: 5px 0;

            svg {
                grid-column: 1;
                margin: 0 auto;
            }
        
            p {
                grid-column: 2;
                width: 80px;
            }

            &:hover {
                background-color: lightgray;
            }
        }

        ul {
            li {
                padding: 8px 15px;
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    * {
                        padding: 0 5px;
                    }
                }
            }
        }

        @media (max-width: 800px) {
            left: 0;
            transform: translateX(0);
        }
    }
}

.blog-body-container {
    h1 {
        font-size: 1.10em;
        margin-top: 0;
    }
    h2 {
        font-size: 1.05em;
        margin-top: 0;
    }
    h3 {
        font-size: 1.00em;
        margin-top: 0;
    }
    h4 {
        font-size: 0.95em;
        margin-top: 0;
    }
    h5 {
        font-size: 0.90em;
        margin-top: 0;
    }
}

.dashboard-container {
    h1 {
        margin-top: 15px;
    }
    h2 {
        margin-top: 10px;
    }
    h3 {
        margin-top: 5px;
    }

    .dashboard-body {
        margin-top: 20px;
    }
}

.recent-blogs-table {
    display: grid;
    max-width: 640px;

    .col-1 {
        grid-column: 1;
    }

    .col-2 {
        grid-column: 2;
    }
}